@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
     position: relative;
     background: #233d58;
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100vh;
     font-size: 16px;
     font-family: Lato, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    position: relative;
    display: block;
    padding: 0px;
    margin: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    background: #233d58;
    /* border: solid 1px black; */
}

header h1{
    display: inline-block;
    position: relative;
    left: 5px;
    width:400px;
    min-width: 280px;
    height: 50px;
    margin: 0px 0px;
    line-height: 50px;
    /* border: 1px solid black; */
}

header h1 a#texth1{
    display: inline-block;
    position: absolute;
    margin-left: 6px;
    height: 100%;
    font-size: 0.5em;
    text-decoration: none;
    color: white;
}

header h1 a#logo{
    display: inline-block;
    position: relative;
    /* top: 2.5px; */
    width: 45px;
    height: 45px;
    padding: 2.5px;
}

header h1 a#logo figure{

    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    background: rgb(255, 145, 0);
}

div.iconmenu{
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 2px;
    right: 2.5%;
    height: 50px;
    width: 50px;
    /* border: 1px solid black; */
    text-align: center;
}
div.iconmenu span{
    font-size:35px;
    line-height: 50px;
    color: #f1f1f1; 
    font-weight: lighter;
}



nav.menuopciones{ 
    position: relative;
    /* display: block; */
    display: none;
    top: 0px;
    /* border: 5px solid white;  */
    height: auto; 
    margin: 0px 0px;
    padding: 0px;
   /* background:rgb(50, 84, 148); */
}

    header nav  ul{
        /* border: 1px solid yellow; */
        list-style: none;
        overflow: hidden;
        margin: 0px;
        padding: 0px 0px 30px 0px;
    }

        header nav  ul li{
            display: block;
            border-bottom: solid 1px #f1f1f1;
        }



        header nav  ul li a{
            display: block; 
            text-decoration: none;
            font-size: 14px;
            padding: 15px 0px;
            margin-left: 20px;
            width: 100%;
            height: 100%;
            font-weight: bolder;
            /* color: rgb(77, 216, 188); */
            color: white;
        }

        header nav  ul li a span.icono{
            margin-right: 20px;
        }

        header nav ul li a:hover{
            font-size: 15px;
            font-weight: bolder;  
        }


        /* header nav ul li:hover{
             background: #29abe2; 
        } */

#slider{
    position: relative;
    /* width: 100%; */
    /* background: #000; */
}

    #slider section.slide{
    position: absolute;
    width: 100%;
    height: 100vh;
    /* border: 2px red solid; */
    top: 0px;
    left: 0px;
    }

    #slider #inicio{
        /* height: 80vh; */
        /* background: blue; */
    }
    #slider #sobremi{
        /* height: 80vh; */
        /* display:none; */
        /* background: yellow; */
    }
    #slider #servicios{
        /* height:  80vh; */
        /* display:none; */
        /* background: green; */
    }

#formContacto{
   /* border: solid 1px black;*/
    background: #f1f1f1;
}


#formContacto{
    position: absolute;
    right: 0px;
    top: 53px;
   /* background: red;*/
   /* border: 1px solid green;*/
   height: 100vh;
    width: 300px;
    border-top: 1px solid black;
    box-shadow: 0px 0px 3px #9f9e9e;
    z-index: 999;
    display: none;

}

#formContacto #close_form{
    position: absolute;
    /*background: yellow;*/
    width: 30px;
    height: 30px;
    left: 85%;
    top: 190px;
    text-align: center;
    line-height: 30px;
}

#formContacto #close_form:hover{
    cursor: pointer;

}

#formContacto #close_form:before{
    font-family: 'icomoon';
    content: '\ea0f';
    font-size: 15px;
}

#formContacto figure{
    height: 180px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background:#29abe2;
    
}

#formContacto figure img{
    height: 90%;
    margin: 0px;
    color: #f1f1f1;
    margin-top: 7px;
}

#formContacto p{
    margin: 20px;
    width: 90%;
    font-weight: bold;
    /*background: red;*/
}

#formContacto textarea,
#formContacto input{
    display: block;
    margin: 20px;
    border: none;
    border-bottom: 2px solid gray;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 3px;
    margin-bottom: 50px;
    font-weight: bold;
}

#formContacto #button{
    background: #f8931f;
    border-radius: 5px;
    border: none;
    padding: 8px 0px;
    cursor: pointer;
}

#botoncontacto{
    POSITION: fixed;
    width: 60px;
    height: 60px;
    background: #f8931f;
    border-radius: 50%;
    color: white;
    z-index:80;
    right: 40px;
    top: 80vh;
    cursor: pointer;

}



#botoncontacto::before{
    font-family: 'icomoon';
    content: '\e901';   
    font-size: 30px;
    position: relative;
    top: 15px;
    left: 12px;
}


footer{
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    z-index: 90;
    height: 200px;
    position: fixed;
    bottom: -180px;
    text-align: center;
    transition-duration: 0.5s;
}

footer .rrss{
    margin-top: 70px;
    width: 100%;
    height: 40px;
    /* background: white; */
    
}

footer:hover{
    bottom: 0px;
}

footer::after{
    font-family: "icomoon";
    content: '\e904';
    position: absolute;
    top: 0px;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    background: black;
    color: black;
    margin-top: -30px;
    border-radius: 50%;
    transform: rotate(180deg);
    font-size: 4em;
    transition-duration: 0.5s;
    transform-origin: center;
    text-shadow: white 0px 15px 1px;
    
   
}

footer:hover::after{
    transform: rotate(0deg);
   /* transform-origin: center;*/
    background: white;
    color: white;
    text-shadow: black 0px 10px 1px;;

}

footer .rrss a{
    text-align: center;
    width: 40px;
    height: 40px;
    /* background: green; */
    display: inline-block;
    position: relative;
    
}
footer .rrss a::before{
    font-family: 'icomoon';
    color: white;
    text-decoration: none;
    position: absolute;
    font-size: 2em;
    top: 5px;
    left: 5px;
}
footer .rrss a:nth-child(1)::before{
    content: "\ea90";
}
footer .rrss a:nth-child(2)::before{
    content: "\ea92";
}
footer .rrss a:nth-child(3)::before{
    content: "\ea86";
}
footer .rrss a:nth-child(4)::before{
    content: "\ea93";
}

footer p{
    font-size: 0.8em;
    font-weight: lighter;
    color: white;
}


@media screen and (min-width: 200px){

}

@media screen and (min-width: 600px){

}

@media screen and (min-width: 770px){

    header h1{
    width: 500px;
    }

div.iconmenu{
display: none;
}

nav.menuopciones{ 
    position: absolute;
    display: inline-block;
    text-align: right;
    top: 0px;
    right: 0px;
    width: 40%;
    min-width:390px;
    height: 100%;  
    margin: 0px 15px;
    /* background:rgb(5, 133, 107);  */
}

header nav  ul{
    display: inline-block;
    width: 100%;
    height: 100%;
    list-style: none;
    overflow: hidden;
    padding: 0px 0px 0px 0px; 
}

header h1 a#texth1{
    font-size: 0.8em;
}


header nav  ul li{
    display: inline-block;
    line-height: 50px;
    height: 50px;
    border-bottom: none;
}

header nav  ul li a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    width: auto;
    height: 100%; 
    padding: 0px 15px;
    margin-left: 0px;
    color: white;
    font-weight: bolder;
}

header nav ul li a:hover{
    font-size: 14px;
}

header nav ul li:hover{
    /* background: #233d58; */
    border-bottom: solid 3px #233d58;
}

header nav ul li:active{
    /* background: rgb(5, 133, 107); */
    border-bottom: solid 3px #233d58;
}
header nav  ul li a span.icono{
    display:none;
}

#formContacto{
    width: 400px;
}
footer .rrss a:nth-child(4)::before{
    content: "\ea93";
    display: none;
}
    
}

@media screen and (min-width: 950px){

}